<!-- Start Footer -->
<footer class="py-4 bg-black">
    <div class="container">
        @@include("nav-footer.html")

        <div class="grid md:grid-cols-12 items-center">
            <div class="md:col-span-3"></div>

            <div class="md:col-span-5 md:mt-0 mt-8">
                <div class="text-center">
                    <p class="text-gray-400">© <script>document.write(new Date().getFullYear())</script>. Design with <i class="mdi mdi-heart text-red-700"></i> by <a href="https://github.com/ayoubgm" target="_blank" class="text-reset text-white">Ayoub Guismi</a>.</p>
                </div>
            </div>

            <div class="md:col-span-4 md:mt-0 mt-8"></div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- End Footer -->