/*********************************/
/*             General           */
/*===============================*/
html {
    @apply scroll-smooth;
}

body {
    @apply overflow-x-hidden;
}

.container {
    @apply w-full mx-auto px-4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-manrope;
}

p {
    @apply leading-relaxed;
}