/*********************************/
/*             Menu              */
/*===============================*/
.navbar {
    @apply fixed top-0 left-0 right-0 z-999 bg-transparent py-3 transition-all duration-500 font-manrope;
    .navigation {
        @apply w-full m-0;
        .navbar-nav {
            @apply mt-4 flex flex-row overflow-y-auto h-24;
            .nav-link {
                @apply block p-3 text-[14px] text-slate-900 tracking-wider hover:text-white dark:text-white/60 dark:hover:text-white font-semibold;
            }
            .active {
                .nav-link {
                    @apply text-white;
                }
            }
        }
        &.ms-auto {
            .navbar-nav {
                li {
                    &:last-child {
                        .nav-link {
                            @apply pe-0;
                        }
                    }
                }
            }
        }
        &.me-auto {
            .navbar-nav {
                li {
                    &:first-child {
                        .nav-link {
                            @apply ps-0;
                        }
                    }
                }
            }
        }
    }
    .navbar-brand {
        @apply p-0;
        .l-dark,
        .logo-dark-mode {
            @apply hidden;
        }
        .l-light,
        .logo-light-mode {
            @apply inline-block;
        }
        @media (max-width: 991.98px) {
            .l-dark {
                @apply !inline-block;
            }
            .l-light {
                @apply !hidden;
            }
        }
    }
    .menu-social {
        .login-btn-primary {
            @apply hidden;
        }
        .login-btn-light {
            @apply inline-block;
        }

        @media (max-width: 991.98px) {
            .login-btn-primary {
                @apply !inline-block;
            }
            .login-btn-light {
                @apply !hidden;
            }
        }
    }
    &.is-sticky {
        @apply bg-white dark:bg-black shadow-sm dark:shadow-gray-800;
            .navbar-brand {
                .l-dark {
                    @apply inline-block;
                }
                .l-light {
                    @apply hidden;
                }
            }

            .menu-social {
                .login-btn-primary {
                    @apply inline-block;
                }
                .login-btn-light {
                    @apply hidden;
                }
            }
        }
    }

@media (min-width: 992px){
    .navbar {
        @apply py-3;
        .navigation {
            @apply flex w-auto;
            .navbar-nav {
                @apply h-auto mt-0 overflow-visible;
                .nav-link {
                    @apply border-0 hover:bg-transparent;
                }

                &.nav-light {
                    .nav-link {
                        @apply block p-3 text-white/60 hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-white;
                        }
                    }
                }
            }
        }

        .nav-icons {
            .collapse-btn {
                @apply hidden;
            }
        }
        &.is-sticky {
            @apply py-3;
            .navbar-nav {
                .nav-link {
                    @apply text-slate-900 dark:text-white/60;
                }
                .active {
                    .nav-link {
                        @apply text-white;
                    }
                }

                &.nav-light {
                    .nav-link {
                        @apply text-slate-900 hover:text-white dark:text-white/60 dark:hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-white;
                        }
                    }
                }
            }
        }
    }
    }

@media (max-width: 991px) {
    .navbar {
        @apply bg-white shadow-sm dark:shadow-gray-800 dark:bg-black;
        .navigation {
            .navbar-nav {
                @apply block h-full max-h-80;
                .nav-link {
                    @apply text-gray-500;
                }
                .active {
                    .nav-link {
                        @apply text-white;
                    }
                }
                .menu-social {
                    @apply !mb-5;
                }
            }
        }
    }
}

/*********************************/
/*             Menu Footer        */
/*===============================*/
.navbar-footer {
    @apply bottom-0 left-0 right-0 z-999 bg-transparent py-3 transition-all duration-500 font-manrope;
    .navigation {
        @apply w-full m-0;
        .navbar-nav {
            @apply mt-4 flex flex-row h-24;
            .nav-link {
                @apply block p-3 text-[14px] text-slate-900 tracking-wider hover:text-white dark:text-white/60 dark:hover:text-white font-semibold;
            }
            .active {
                .nav-link {
                    @apply text-white;
                }
            }
        }
        &.ms-auto {
            .navbar-nav {
                li {
                    &:last-child {
                        .nav-link {
                            @apply pe-0;
                        }
                    }
                }
            }
        }
        &.me-auto {
            .navbar-nav {
                li {
                    &:first-child {
                        .nav-link {
                            @apply ps-0;
                        }
                    }
                }
            }
        }
    }
    .navbar-brand {
        @apply p-0;
        .l-dark,
        .logo-dark-mode {
            @apply hidden;
        }
        .l-light,
        .logo-light-mode {
            @apply inline-block;
        }
        @media (max-width: 991.98px) {
            .l-dark {
                @apply !inline-block;
            }
            .l-light {
                @apply !hidden;
            }
        }
    }
    .menu-social {
        .login-btn-primary {
            @apply hidden;
        }
        .login-btn-light {
            @apply inline-block;
        }

        @media (max-width: 991.98px) {
            .login-btn-primary {
                @apply !inline-block;
            }
            .login-btn-light {
                @apply !hidden;
            }
        }
    }
    &.is-sticky {
        @apply bg-white dark:bg-black shadow-sm dark:shadow-gray-800;
            .navbar-brand {
                .l-dark {
                    @apply inline-block;
                }
                .l-light {
                    @apply hidden;
                }
            }

            .menu-social {
                .login-btn-primary {
                    @apply inline-block;
                }
                .login-btn-light {
                    @apply hidden;
                }
            }
        }
    }


@media (min-width: 992px){
    .navbar-footer {
        @apply py-3;
        .navigation {
            @apply flex w-auto;
            .navbar-nav {
                @apply h-auto mt-0 overflow-hidden;
                .nav-link {
                    @apply border-0 hover:bg-transparent;
                }

                &.nav-light {
                    .nav-link {
                        @apply block p-3 text-white/60 hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-white;
                        }
                    }
                }
            }
        }

        .nav-icons {
            .collapse-btn {
                @apply hidden;
            }
        }
        &.is-sticky {
            @apply py-3;
            .navbar-nav {
                .nav-link {
                    @apply text-slate-900 dark:text-white/60;
                }
                .active {
                    .nav-link {
                        @apply text-white;
                    }
                }

                &.nav-light {
                    .nav-link {
                        @apply text-slate-900 hover:text-white dark:text-white/60 dark:hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-white;
                        }
                    }
                }
            }
        }
    }
    }
