<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - Distraction blocker</title>
<meta name="description" content="Distraction blocker App">
<meta name="keywords" content="Distraction blocker, App">
<meta name="author" content="Aguismi">
<meta name="website" content="https://github.com/ayoubgm">
<meta name="email" content="ayoubguismi@outlook.com">
<meta name="version" content="1.1.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">